html {
	font-family: sans-serif;
}

table {
	border-spacing: 0;
}

th {
	text-align: left;
	background-color: #222;
	color: #eee;
}

td {
	border-bottom: 1px solid #ddd;
}

tr > * {
	padding: 0.5em;
}